<a href="https://colab.research.google.com/github/peachyramos/Sales-Data-Science-Python/blob/main/Programming_with_Data_Coursework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Import required modules
import csv
import sqlite3
 
# Connecting to the geeks database
connection = sqlite3.connect('D:\pwdsqlite.db')
 
# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()
 
# Table Definition
create_table_marketing = """CREATE TABLE IF NOT EXISTS stores(Name text PRIMARY KEY,
                                        Location text NOT NULL,
                                        MarketingSpend integer);"""
create_table_sales = """CREATE TABLE IF NOT EXISTS sales(Name text PRIMARY KEY,
                                    Year integer NOT NULL,
                                    Area integer NOT NULL,
                                    City text NOT NULL,
                                    Opened integer NOT NULL,
                                    Sales integer NOT NULL)"""        
 
# Creating the table into our
# database
cursor.execute(create_table_marketing)
cursor.execute(create_table_sales)
 
# Opening the person-records.csv file
file_marketing = open('/MarketingSpend2010-2019.csv')
file_sales = open('/YearlySales2010-2019.csv')
 
# Reading the contents of the
# person-records.csv file
contents_marketing = csv.reader(file_marketing)
contents_sales = csv.reader(file_sales)
 
# SQL query to insert data into the
# stores and sales table
insert_records_marketing = "INSERT OR IGNORE INTO stores (Name, Location, MarketingSpend ) VALUES(?, ?, ?)"
insert_records_sales=  "INSERT OR IGNORE INTO sales  (Name, Year, Area, City, Opened, Sales ) VALUES(?, ?, ?, ?, ?, ?)"



# Importing the contents of the file
# into our person table
cursor.executemany(insert_records_marketing, contents_marketing)
cursor.executemany(insert_records_sales, contents_sales)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all_marketing = "SELECT * FROM stores"
rows1 = cursor.execute(select_all_marketing).fetchall()

select_all_marketing = "SELECT * FROM sales"
rows2= cursor.execute(select_all_marketing).fetchall()

# Output to the console screen
for r in rows1:
    print(r)
for x in rows2:
    print(x)

# Committing the changes
connection.commit()
 
# closing the database connection
connection.close()

('Name', 'Location', 'MarketingSpend')
('London21', 'London;NE7 3VL', '(2010-2011, 85792)')
('London7', 'London;SE14 7HW', '(2010-2011, 84913)')
('London13', 'London;N16 4NC', '(2010-2011, 81299)')
('London15', 'London;N8 6PE', '(2010-2011, 75852)')
('London20', 'London;SW11 2UK', '(2010-2011, 89485)')
('London1', 'London;E5 1AQ', '(2010-2011, 83519)')
('London3', 'London;E18 3CS', '(2010-2011, 70751)')
('London27', 'London;W15 9BR', '(2010-2011, 89687)')
('London12', 'London;N15 3MB', '(2010-2011, 81560)')
('London6', 'London;SE16 6FV', '(2010-2011, 87389)')
('London25', 'London;NE11 7ZP', '(2010-2011, 244076)')
('London18', 'London;SW19 9SI', '(2010-2011, 154082)')
('London11', 'London;N3 2LA', '(2010-2011, 140440)')
('London10', 'London;SE17 1KZ', '(2010-2011, 126664)')
('London23', 'London;NE16 5XN', '(2010-2011, 269176)')
('London16', 'London;SW10 7QF', '(2010-2011, 243298)')
('London19', 'London;SW20 1TJ', '(2010-2011, 132159)')
('London26', 'London;W3 8AQ', '(2010-2011, 252163)')
('London24', 'London;NE8 6YO', '(2010-2011, 224633)')
('London22', 'London;NE5 4WM', '(2010-2011, 156937)')
('London29', 'London;W14 2DT', '(2010-2011, 512201)')
('London14', 'London;N13 5OD', '(2010-2011, 588421)')
('London4', 'London;E1 4DT', '(2010-2011, 1092081)')
('London9', 'London;SE8 9JY', '(2010-2011, 941991)')
('London5', 'London;E7 5EU', '(2010-2011, 816523)')
('London28', 'London;W12 1CS', '(2010-2011, 811336)')
('London30', 'London;W19 3EU', '(2010-2011, 995432)')
('London17', 'London;SW18 8RH', '(2010-2011, 651178)')
('London8', 'London;SE13 8IX', '(2010-2011, 582772)')
('London2', 'London;E5 2BR', '(2010-2011, 889605)')
('Birmingham1', 'London;B7 4FV', '(2010-2011, 86608)')
('Birmingham2', 'London;B3 5HW', '(2010-2011, 73857)')
('Birmingham17', 'London;B2 2WM', '(2010-2011, 81149)')
('Birmingham4', 'London;B7 7JY', '(2010-2011, 88560)')
('Birmingham7', 'London;B15 1MB', '(2010-2011, 80819)')
('Birmingham3', 'London;B11 6IX', '(2010-2011, 75209)')
('Birmingham20', 'London;B13 5ZP', '(2010-2011, 85564)')
('Birmingham11', 'London;B13 5QF', '(2010-2011, 74413)')
('Birmingham16', 'London;B1 1VL', '(2010-2011, 76767)')
('Birmingham18', 'London;B17 3XN', '(2010-2011, 79190)')
('Birmingham15', 'London;B3 9UK', '(2010-2011, 168933)')
('Birmingham6', 'London;B9 9LA', '(2010-2011, 183126)')
('Birmingham10', 'London;B1 4PE', '(2010-2011, 208094)')
('Birmingham14', 'London;B19 8TJ', '(2010-2011, 254634)')
('Birmingham9', 'London;B11 3OD', '(2010-2011, 130052)')
('Birmingham8', 'London;B9 2NC', '(2010-2011, 902446)')
('Birmingham5', 'London;B5 8KZ', '(2010-2011, 529454)')
('Birmingham12', 'London;B2 6RH', '(2010-2011, 696456)')
('Birmingham13', 'London;B6 7SI', '(2010-2011, 633192)')
('Birmingham19', 'London;B3 4YO', '(2010-2011, 1036111)')
('Cardiff6', 'London;CF11 2FV', '(2010-2011, 71871)')
('Cardiff8', 'London;CF8 4IX', '(2010-2011, 76374)')
('Cardiff2', 'London;CF5 7BR', '(2010-2011, 72287)')
('Cardiff1', 'London;CF20 6AQ', '(2010-2011, 75696)')
('Cardiff5', 'London;CF7 1EU', '(2010-2011, 76579)')
('Cardiff9', 'London;CF10 5JY', '(2010-2011, 162117)')
('Cardiff10', 'London;CF16 6KZ', '(2010-2011, 220901)')
('Cardiff4', 'London;CF15 9DT', '(2010-2011, 242178)')
('Cardiff3', 'London;CF11 8CS', '(2010-2011, 263995)')
('Cardiff7', 'London;CF9 3HW', '(2010-2011, 222322)')
('Manchester3', 'London;M2 9NC', '(2010-2011, 85118)')
('Manchester2', 'London;M5 8MB', '(2010-2011, 70188)')
('Manchester10', 'London;M5 7UK', '(2010-2011, 89422)')
('Manchester7', 'London;M18 4RH', '(2010-2011, 86130)')
('Manchester8', 'London;M11 5SI', '(2010-2011, 73430)')
('Manchester1', 'London;M9 7LA', '(2010-2011, 169476)')
('Manchester9', 'London;M18 6TJ', '(2010-2011, 267868)')
('Manchester6', 'London;M6 3QF', '(2010-2011, 226547)')
('Manchester4', 'London;M2 1OD', '(2010-2011, 142272)')
('Manchester5', 'London;M2 2PE', '(2010-2011, 274271)')
('Bristol1', 'London;BS12 8VL', '(2010-2011, 84228)')
('Bristol9', 'London;BS8 7DT', '(2010-2011, 83387)')
('Bristol10', 'London;BS14 8EU', '(2010-2011, 250768)')
('Bristol5', 'London;BS9 3ZP', '(2010-2011, 145028)')
('Bristol6', 'London;BS9 4AQ', '(2010-2011, 990701)')
('Bristol7', 'London;BS19 5BR', '(2010-2011, 516936)')
('Bristol3', 'London;BS9 1XN', '(2010-2011, 1000908)')
('Bristol2', 'London;BS9 9WM', '(2010-2011, 615575)')
('Bristol4', 'London;BS5 2YO', '(2010-2011, 622457)')
('Bristol8', 'London;BS2 6CS', '(2010-2011, 1095175)')
('Glasgow3', 'London;G2 2IX', '(2010-2011, 78142)')
('Glasgow1', 'London;G10 9FV', '(2010-2011, 84709)')
('Glasgow9', 'London;G1 8OD', '(2010-2011, 246237)')
('Glasgow8', 'London;G18 7NC', '(2010-2011, 170243)')
('Glasgow4', 'London;G12 3JY', '(2010-2011, 220529)')
('Glasgow5', 'London;G17 4KZ', '(2010-2011, 535062)')
('Glasgow2', 'London;G19 1HW', '(2010-2011, 859939)')
('Glasgow7', 'London;G11 6MB', '(2010-2011, 914197)')
('Glasgow6', 'London;G7 5LA', '(2010-2011, 973350)')
('Glasgow10', 'London;G8 9PE', '(2010-2011, 882306)')
('Name', 'Year', 'Area', 'City', 'Opened', 'Sales')
('London21', 2010, 275, 'London', 1981, 717144)
('London7', 2010, 411, 'London', 1981, 846525)
('London13', 2010, 518, 'London', 2005, 732903)
('London15', 2010, 688, 'London', 1987, 782118)
('London20', 2010, 401, 'London', 1990, 871938)
('London1', 2010, 291, 'London', 2000, 716994)
('London3', 2010, 559, 'London', 2004, 768900)
('London27', 2010, 310, 'London', 1986, 776972)
('London12', 2010, 740, 'London', 1990, 893044)
('London6', 2010, 325, 'London', 1990, 895773)
('London25', 2010, 2965, 'London', 1972, 1423603)
('London18', 2010, 2130, 'London', 1996, 2563730)
('London11', 2010, 1758, 'London', 1978, 1984726)
('London10', 2010, 1240, 'London', 1970, 1903430)
('London23', 2010, 3810, 'London', 1990, 2330164)
('London16', 2010, 1829, 'London', 1987, 1793099)
('London19', 2010, 1762, 'London', 1971, 1239054)
('London26', 2010, 2431, 'London', 1975, 2581794)
('London24', 2010, 1556, 'London', 1977, 2045238)
('London22', 2010, 3966, 'London', 1977, 1428270)
('London29', 2010, 5236, 'London', 1980, 8309283)
('London14', 2010, 4742, 'London', 2003, 5296447)
('London4', 2010, 5971, 'London', 1992, 9948300)
('London9', 2010, 2387, 'London', 1986, 10183722)
('London5', 2010, 2840, 'London', 1972, 9677587)
('London28', 2010, 2513, 'London', 1978, 5026976)
('London30', 2010, 2777, 'London', 1977, 9398845)
('London17', 2010, 7187, 'London', 1994, 7815230)
('London8', 2010, 3664, 'London', 1996, 10879916)
('London2', 2010, 3273, 'London', 1990, 10615878)
('Birmingham1', 2010, 267, 'Birmingham', 1978, 859556)
('Birmingham2', 2010, 329, 'Birmingham', 2007, 806863)
('Birmingham17', 2010, 216, 'Birmingham', 1986, 879085)
('Birmingham4', 2010, 390, 'Birmingham', 1992, 862570)
('Birmingham7', 2010, 480, 'Birmingham', 1977, 780748)
('Birmingham3', 2010, 517, 'Birmingham', 1986, 826421)
('Birmingham20', 2010, 742, 'Birmingham', 2006, 875065)
('Birmingham11', 2010, 316, 'Birmingham', 1978, 819311)
('Birmingham16', 2010, 566, 'Birmingham', 2003, 899886)
('Birmingham18', 2010, 345, 'Birmingham', 1994, 744027)
('Birmingham15', 2010, 1531, 'Birmingham', 2008, 2685770)
('Birmingham6', 2010, 1263, 'Birmingham', 1982, 2119342)
('Birmingham10', 2010, 2090, 'Birmingham', 1974, 1405457)
('Birmingham14', 2010, 1629, 'Birmingham', 2005, 1573024)
('Birmingham9', 2010, 2882, 'Birmingham', 1974, 2682814)
('Birmingham8', 2010, 3573, 'Birmingham', 1982, 8559718)
('Birmingham5', 2010, 2830, 'Birmingham', 1984, 5296923)
('Birmingham12', 2010, 5656, 'Birmingham', 1985, 7655657)
('Birmingham13', 2010, 7368, 'Birmingham', 1999, 5025220)
('Birmingham19', 2010, 7468, 'Birmingham', 2006, 7628477)
('Cardiff6', 2010, 440, 'Cardiff', 1989, 774182)
('Cardiff8', 2010, 704, 'Cardiff', 1999, 869080)
('Cardiff2', 2010, 486, 'Cardiff', 1977, 753011)
('Cardiff1', 2010, 232, 'Cardiff', 1981, 808461)
('Cardiff5', 2010, 247, 'Cardiff', 2002, 822833)
('Cardiff9', 2010, 3673, 'Cardiff', 2003, 2121837)
('Cardiff10', 2010, 2128, 'Cardiff', 1992, 2390140)
('Cardiff4', 2010, 3537, 'Cardiff', 2004, 1858154)
('Cardiff3', 2010, 1188, 'Cardiff', 2002, 1459652)
('Cardiff7', 2010, 3100, 'Cardiff', 1988, 2446721)
('Manchester3', 2010, 723, 'Manchester', 1987, 743186)
('Manchester2', 2010, 663, 'Manchester', 2006, 899725)
('Manchester10', 2010, 319, 'Manchester', 2001, 894934)
('Manchester7', 2010, 444, 'Manchester', 1972, 779705)
('Manchester8', 2010, 502, 'Manchester', 1988, 861521)
('Manchester1', 2010, 3910, 'Manchester', 2001, 1582901)
('Manchester9', 2010, 2246, 'Manchester', 2006, 2512104)
('Manchester6', 2010, 3511, 'Manchester', 1988, 2240710)
('Manchester4', 2010, 1884, 'Manchester', 1984, 1329629)
('Manchester5', 2010, 2734, 'Manchester', 1999, 1508296)
('Bristol1', 2010, 640, 'Bristol', 1973, 828041)
('Bristol9', 2010, 638, 'Bristol', 2003, 754950)
('Bristol10', 2010, 2719, 'Bristol', 1999, 2633413)
('Bristol5', 2010, 1818, 'Bristol', 1993, 1446736)
('Bristol6', 2010, 7862, 'Bristol', 1992, 9092955)
('Bristol7', 2010, 3208, 'Bristol', 2007, 7545631)
('Bristol3', 2010, 5455, 'Bristol', 2008, 5714248)
('Bristol2', 2010, 6913, 'Bristol', 1987, 6773876)
('Bristol4', 2010, 3861, 'Bristol', 1983, 8768725)
('Bristol8', 2010, 4548, 'Bristol', 1998, 7818142)
('Glasgow3', 2010, 533, 'Glasgow', 1998, 853817)
('Glasgow1', 2010, 563, 'Glasgow', 1981, 894843)
('Glasgow9', 2010, 1181, 'Glasgow', 1992, 1629557)
('Glasgow8', 2010, 3824, 'Glasgow', 1982, 1262245)
('Glasgow4', 2010, 2265, 'Glasgow', 2005, 2640412)
('Glasgow5', 2010, 7295, 'Glasgow', 1981, 8249227)
('Glasgow2', 2010, 2352, 'Glasgow', 2004, 9591147)
('Glasgow7', 2010, 3475, 'Glasgow', 2000, 6481005)
('Glasgow6', 2010, 2659, 'Glasgow', 1990, 6408006)
('Glasgow10', 2010, 2878, 'Glasgow', 1999, 7061736)

In [10]:
# Connecting to the geeks database
connection = sqlite3.connect('D:\pwdsqlite.db')
 
# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()
 
# Table Definition

create_table_sales = """CREATE TABLE IF NOT EXISTS sales(Name text PRIMARY KEY,
                                    Year integer NOT NULL,
                                    Area integer NOT NULL,
                                    City text NOT NULL,
                                    Opened integer NOT NULL,
                                    Sales integer NOT NULL);"""        
 
# Creating the table into our
# database

cursor.execute(create_table_sales)
 
# Opening the person-records.csv file

file_sales = open('/YearlySales2010-2019.csv')
 
# Reading the contents of the
# person-records.csv file

contents_sales = csv.reader(file_sales)
 
# SQL query to insert data into the
# stores and sales table

insert_records_sales=  "INSERT OR IGNORE INTO sales  (Name, Year, Area, City, Opened, Sales ) VALUES(?, ?, ?, ?, ?, ?)"



# Importing the contents of the file
# into our person table

cursor.executemany(insert_records_sales, contents_sales)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table

select_all_marketing = "SELECT * FROM sales"
rows2= cursor.execute(select_all_marketing).fetchall()

# Output to the console screen

for x in rows2:
    print(x)
    
# Committing the changes
connection.commit()
 
# closing the database connection
connection.close()

('Name', 'Year', 'Area', 'City', 'Opened', 'Sales')
('London21', 2010, 275, 'London', 1981, 717144)
('London7', 2010, 411, 'London', 1981, 846525)
('London13', 2010, 518, 'London', 2005, 732903)
('London15', 2010, 688, 'London', 1987, 782118)
('London20', 2010, 401, 'London', 1990, 871938)
('London1', 2010, 291, 'London', 2000, 716994)
('London3', 2010, 559, 'London', 2004, 768900)
('London27', 2010, 310, 'London', 1986, 776972)
('London12', 2010, 740, 'London', 1990, 893044)
('London6', 2010, 325, 'London', 1990, 895773)
('London25', 2010, 2965, 'London', 1972, 1423603)
('London18', 2010, 2130, 'London', 1996, 2563730)
('London11', 2010, 1758, 'London', 1978, 1984726)
('London10', 2010, 1240, 'London', 1970, 1903430)
('London23', 2010, 3810, 'London', 1990, 2330164)
('London16', 2010, 1829, 'London', 1987, 1793099)
('London19', 2010, 1762, 'London', 1971, 1239054)
('London26', 2010, 2431, 'London', 1975, 2581794)
('London24', 2010, 1556, 'London', 1977, 2045238)
('London22', 2010, 3966, 'London', 1977, 1428270)
('London29', 2010, 5236, 'London', 1980, 8309283)
('London14', 2010, 4742, 'London', 2003, 5296447)
('London4', 2010, 5971, 'London', 1992, 9948300)
('London9', 2010, 2387, 'London', 1986, 10183722)
('London5', 2010, 2840, 'London', 1972, 9677587)
('London28', 2010, 2513, 'London', 1978, 5026976)
('London30', 2010, 2777, 'London', 1977, 9398845)
('London17', 2010, 7187, 'London', 1994, 7815230)
('London8', 2010, 3664, 'London', 1996, 10879916)
('London2', 2010, 3273, 'London', 1990, 10615878)
('Birmingham1', 2010, 267, 'Birmingham', 1978, 859556)
('Birmingham2', 2010, 329, 'Birmingham', 2007, 806863)
('Birmingham17', 2010, 216, 'Birmingham', 1986, 879085)
('Birmingham4', 2010, 390, 'Birmingham', 1992, 862570)
('Birmingham7', 2010, 480, 'Birmingham', 1977, 780748)
('Birmingham3', 2010, 517, 'Birmingham', 1986, 826421)
('Birmingham20', 2010, 742, 'Birmingham', 2006, 875065)
('Birmingham11', 2010, 316, 'Birmingham', 1978, 819311)
('Birmingham16', 2010, 566, 'Birmingham', 2003, 899886)
('Birmingham18', 2010, 345, 'Birmingham', 1994, 744027)
('Birmingham15', 2010, 1531, 'Birmingham', 2008, 2685770)
('Birmingham6', 2010, 1263, 'Birmingham', 1982, 2119342)
('Birmingham10', 2010, 2090, 'Birmingham', 1974, 1405457)
('Birmingham14', 2010, 1629, 'Birmingham', 2005, 1573024)
('Birmingham9', 2010, 2882, 'Birmingham', 1974, 2682814)
('Birmingham8', 2010, 3573, 'Birmingham', 1982, 8559718)
('Birmingham5', 2010, 2830, 'Birmingham', 1984, 5296923)
('Birmingham12', 2010, 5656, 'Birmingham', 1985, 7655657)
('Birmingham13', 2010, 7368, 'Birmingham', 1999, 5025220)
('Birmingham19', 2010, 7468, 'Birmingham', 2006, 7628477)
('Cardiff6', 2010, 440, 'Cardiff', 1989, 774182)
('Cardiff8', 2010, 704, 'Cardiff', 1999, 869080)
('Cardiff2', 2010, 486, 'Cardiff', 1977, 753011)
('Cardiff1', 2010, 232, 'Cardiff', 1981, 808461)
('Cardiff5', 2010, 247, 'Cardiff', 2002, 822833)
('Cardiff9', 2010, 3673, 'Cardiff', 2003, 2121837)
('Cardiff10', 2010, 2128, 'Cardiff', 1992, 2390140)
('Cardiff4', 2010, 3537, 'Cardiff', 2004, 1858154)
('Cardiff3', 2010, 1188, 'Cardiff', 2002, 1459652)
('Cardiff7', 2010, 3100, 'Cardiff', 1988, 2446721)
('Manchester3', 2010, 723, 'Manchester', 1987, 743186)
('Manchester2', 2010, 663, 'Manchester', 2006, 899725)
('Manchester10', 2010, 319, 'Manchester', 2001, 894934)
('Manchester7', 2010, 444, 'Manchester', 1972, 779705)
('Manchester8', 2010, 502, 'Manchester', 1988, 861521)
('Manchester1', 2010, 3910, 'Manchester', 2001, 1582901)
('Manchester9', 2010, 2246, 'Manchester', 2006, 2512104)
('Manchester6', 2010, 3511, 'Manchester', 1988, 2240710)
('Manchester4', 2010, 1884, 'Manchester', 1984, 1329629)
('Manchester5', 2010, 2734, 'Manchester', 1999, 1508296)
('Bristol1', 2010, 640, 'Bristol', 1973, 828041)
('Bristol9', 2010, 638, 'Bristol', 2003, 754950)
('Bristol10', 2010, 2719, 'Bristol', 1999, 2633413)
('Bristol5', 2010, 1818, 'Bristol', 1993, 1446736)
('Bristol6', 2010, 7862, 'Bristol', 1992, 9092955)
('Bristol7', 2010, 3208, 'Bristol', 2007, 7545631)
('Bristol3', 2010, 5455, 'Bristol', 2008, 5714248)
('Bristol2', 2010, 6913, 'Bristol', 1987, 6773876)
('Bristol4', 2010, 3861, 'Bristol', 1983, 8768725)
('Bristol8', 2010, 4548, 'Bristol', 1998, 7818142)
('Glasgow3', 2010, 533, 'Glasgow', 1998, 853817)
('Glasgow1', 2010, 563, 'Glasgow', 1981, 894843)
('Glasgow9', 2010, 1181, 'Glasgow', 1992, 1629557)
('Glasgow8', 2010, 3824, 'Glasgow', 1982, 1262245)
('Glasgow4', 2010, 2265, 'Glasgow', 2005, 2640412)
('Glasgow5', 2010, 7295, 'Glasgow', 1981, 8249227)
('Glasgow2', 2010, 2352, 'Glasgow', 2004, 9591147)
('Glasgow7', 2010, 3475, 'Glasgow', 2000, 6481005)
('Glasgow6', 2010, 2659, 'Glasgow', 1990, 6408006)
('Glasgow10', 2010, 2878, 'Glasgow', 1999, 7061736)